{%- macro enum_lijst(enum_naam) -%}
  {%- set enum = package.get_enumeration_by_name(enum_naam) -%}
  {{ enum.literals | map(attribute='name') | join(', ') }}
{%- endmacro -%}

{%- macro tooltip(clazz, attribuut_naam) -%}
  {%- set attr = clazz.get_attribute_by_name(attribuut_naam) -%}
  {%- if attr.definitie -%}
    <abbr title="{{ attr.definitie|set_url() }}">❓</abbr>
  {%- endif -%}
{%- endmacro -%}


# Uitleg uitwisselspecificatie 

Om in het kader van DDAS gegevens aan het CBS te kunnen leveren versturen schuldhulpverleners gegevens over schuldhulptrajecten via een zogenaamd JSON-uitwisselbestand. De structuur van dit bestand wordt in technische zin beschreven onder het kopje [Uitwisselspecificatie](uitwisselspecificatie.md). Voor schuldhulpverleners is het belangrijk dat zij de juiste gegevens in hun systemen administreren, anders wordt het aanleveren van de benodigde informatie bemoeilijkt. In de volgende paragrafen wordt in (niet technische taal) beschreven welke gegevens  schuldhulpverleners moeten vastleggen om juist en volledig gegevens conform DDAS aan het CBS te kunnen leveren.

## Algemene gegevens

Bij ieder schuldhulptraject zijn de hieronder weergegeven gegevens van belang.

### Cliëntgegevens

- Burgerservicenummer (BSN)
- Geboortedatum
- Geslacht (mogelijke waarden: {{ enum_lijst('geslacht') }})
- Postcode
- Huisnummer en eventueel huisnummertoevoeging

Er kunnen minimaal één en maximaal twee personen per traject worden opgevoerd. 

!!! danger "Let op: persoonsgegevens zijn van belang"
    Het is belangrijk dat, of het BSN, of alle andere gegevens zijn vastgelegd. 

{% set clazz = package.get_class_by_name('Schuld') %}
### Schulden

Voor elke schuld die in het schuldhulptraject wordt meegenomen:

- Bedrag
- Peildatum - Peildatum {{ tooltip(clazz, 'peildatum') }}
- Soort schuld (mogelijke waarden: {{ enum_lijst('EnumSchuldensoort') }})
- Is het een zakelijke schuld? (ja/nee)
- Gegevens van de schuldeiser (naam, KvK, postcode, privépersoon ja/nee)

## Schuldhulptraject

Het schuldhulptraject kent conform het NVVK-Referentieproces een aantal fases. Van deze fases is steeds een aantal gegevens van belang. Deze worden in de volgende paragrafen beschreven.

Naast de gegevens van de verschillende fases zijn per schuldhulptraject een aantal gegevens van belang die betrekking hebben op het schuldhulptraject als geheel:

- Startdatum van het schuldhulptraject
- Einddatum (alleen als het schuldhulptraject is afgerond)
- Toekenningsdatum (toekenningsdatum bevat de datum waarop de schuldregeling is toegekend)
- Gemeentecode (gemeente onder wiens verantwoordelijkheid het traject wordt uitgevoerd)
- Totaal schuldbedrag bij aanvang traject 

{% set clazz = package.get_class_by_name('Aanmelding') %}
### Aanmelding

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Startdatum van de aanmelding {{ tooltip(clazz, 'startdatum') }}
- Einddatum van de aanmeldfase (optioneel)
- Is er sprake van crisisinterventie? (ja/nee) {{ tooltip(clazz, 'crisisinterventie') }}

{% set clazz = package.get_class_by_name('Intake') %}
### Intake

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Startdatum van het intakegesprek  {{ tooltip(clazz, 'startdatum') }}
- Einddatum van de intake  {{ tooltip(clazz, 'einddatum') }}
- Beschikkingsdatum  {{ tooltip(clazz, 'beschikkingsdatum') }}
- Soort beschikking  (mogelijke waarden: {{ enum_lijst('EnumBeschikkingssoort') }})

{% set clazz = package.get_class_by_name('PlanVanAanpak') %}
### Plan van aanpak

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Datum afronding plan van aanpak

{% set clazz = package.get_class_by_name('Stabilisatie') %}
### Stabilisatie

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Start- en einddatum van de stabilisatiefase

{% set clazz = package.get_class_by_name('Schuldregeling') %}
### Schuldregeling

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Datum aanvraag {{ tooltip(clazz, 'datum') }}
- Afgewezen, toegekend of ingetrokken? Geef de juiste datum
- Is er een dwangakkoord aangevraagd? (ja/nee) {{ tooltip(clazz, 'dwangakkoord') }}
- Datum verzoek dwangakkoord

{% set clazz = package.get_class_by_name('Oplossing') %}
### Oplossing

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Hiervan worden de volgende zaken vastgelegd:

- Start- en einddatum
- Soort oplossing (mogelijke waarden: {{ enum_lijst('EnumOplossingssoort') }})  
- VTLB-bedrag (per maand) {{ tooltip(clazz, 'vtlb') }}

{% set clazz = package.get_class_by_name('Begeleiding') %}
### Begeleiding

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Voor elk type begeleiding worden de volgende gegevens vastgelegd:

- Soort begeleiding (mogelijke waarden: {{ enum_lijst('EnumBegeleidingssoort') }})
- Start- en einddatum

{% set clazz = package.get_class_by_name('Uitstroom') %}
### Uitstroom

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Het gaat hier over de gegevens ten aanzien van de uitstroom uit het schuldhulptraject. Hievan worden de volgende zaken vastgelegd:

- Datum uitstroom {{ tooltip(clazz, 'datum') }}
- Datum beëindigingsbeschikking {{ tooltip(clazz, 'datumBeeindigingsbeschikking') }}
- Reden van uitstroom (mogelijke waarden: {{ enum_lijst('EnumUitstroomreden') }})

## Aanvullende gegevens

In sommige gevallen spelen er aanvullende zaken. De hiervoor benodigde gegevens worden in de volgende paragrafen beschreven. 

{% set clazz = package.get_class_by_name('Crisisinterventie') %}
### Crisisinterventie

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Is er sprake geweest van één of meer crisisinterventies? Hiervan worden de volgende zaken vastgelegd:

- Start- en einddatum

{% set clazz = package.get_class_by_name('InformatieEnAdvies') %}
### Informatie en advies

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Wordt er voor de cliënt(en) informatie en advies ingezet? Hiervan worden de volgende zaken vastgelegd:

- Start- en einddatum van het informatie- en adviestraject

{% set clazz = package.get_class_by_name('Moratorium') %}
### Moratorium

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Is er sprake van één of meer moratoria? Hiervan worden de volgende zaken vastgelegd:

- Datum aanvraag
- Datum goedkeuring
- Start- en einddatum

{% set clazz = package.get_class_by_name('VoorlopigeVoorziening') %}
### Voorlopige voorziening

??? note "Definitie {{ clazz.name|title }}"
    {{ clazz.definitie|default("Geen Definitie", true)|fix_and_format()|set_url() }}

Is er binnen het schuldhulptraject sprake van één of meer voorlopige voorzieningen? Hiervan worden de volgende zaken vastgelegd:

- Start- en einddatum
